name: Nix Flake Update

on:
  workflow_dispatch:
  schedule:
    # Runs at 00:00 UTC on every Saturday
    - cron: "0 0 * * 6"

jobs:
  lockfile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@v31

      - name: Get current date
        id: date
        run: echo "DATE=$(date +'%d-%m-%Y')" >> $GITHUB_ENV

      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@v28
        with:
          base: "main"
          branch: "feat/update-flake-${{ env.DATE }}"
          commit-msg: "chore(flake): update flake.lock"
          pr-title: "Update flake ${{ env.DATE }}"
